/* App.module.css */

.container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Золотава тінь */
  margin: 0 auto;
  padding: 20px;
  max-width: 1158px; /* Максимальна ширина контейнера */
  background-color: #404040;
}

.header {
  border: 1px solid gold;
  background-color: #404040; /* Графітовий фон */
  padding: 20px;
}

.navLink {
  text-decoration: none;
  color: gold;
  margin-right: 10px;
}

.main {
  padding: 20px;
}

@media (max-width: 1158px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    border-width: 1px;
    padding: 10px;
  }
}

@media (max-width: 428px) {
  .container {
    border-width: 1px;
    padding: 5px;
  }
}
